body {
    background-color: grey;
}

h1 {
    color: whitesmoke;
    text-align: center;
    font-size: 2rem;
    text-shadow: 5px 5px 5px black;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

button {
    margin: 0;
    padding: 0;
    color: #2f2504;
}

input {
    width: 100%;
    border-radius: 8px;
    padding: 8px 12px;
    margin-bottom: 1rem;
    border: 2px solid black;
    color: #2f2504;
}

fieldset {
    border: none;
    position: relative;
    margin-bottom: -15px;
}

div.colortoggleicon {
    width: 50px;
    height: 50px;
}

.colortoggleicon span {
position: relative;
right: -270px;
top: -60px;
}

.colortoggleicon > span {
    font-size: 2rem;
    position: relative;
    cursor: pointer;
    background: #eee;
    opacity: .8;
    display: flex;
    justify-content: center;
    align-items: center;
 }

.app {
    background-color: #d0ddd7;
    border-radius: 12px;
    padding: 1rem 1rem 2rem;
    width: 350px;
    margin: 0 auto;
    font-size: 1rem;
    box-shadow: 5px 5px 5px black;

    .date {
        font-size: 1.45rem;
        font-weight: 700;
        margin-bottom: 1rem;
        margin-top: -8px;
    }

    #datetext {
        font-size: 0.8rem;
    }

    .taskerror {
        font-size: 1rem;
        color: darkred;
        position: relative;
        top: -10px;
        left: 5px;
    }

    .deadline {
        width: 200px;
        height: 50px;
        margin-top: 20px;
    }

    .wrapper {
        display:flex;
        margin-bottom: 18px;
    }

    .sortsection {
        display: none;
    }
    
    .sortsection.open {
        display:block;
    }

    .select {
        text-align: left;
        margin-left: -5px;
        
        label input[type="radio"]:checked ~ span {
            background-color:#2f2504;
            color:#fff;
          }
    
        label {
            height: 60px;
        }
    
        input {
            margin-top: 25px;
            margin-left: 10px;
        }
    
        span.material-symbols-outlined {
            position: relative;
            top: -40px;
            left: 7px;
            padding-left: 7px;
            padding-top: 7px;
            font-size: 2rem;
            box-shadow: none; 
            margin-right: 10px;                    
        }
    
        .section1, .section2 {
        display: flex;
        }
    }

    .submit {
        width: 200px;
        height: 50px;
        border-radius: 8px;
        padding: 8px 12px;
        background-color: #7e846b;
        color: white;
        text-shadow: 0 0 5px black;
        font-weight: 700;
        border: 2px solid black;
        position: absolute;
        margin-top: -60px;
    
        &:hover {
            background-color: whitesmoke;
            color: #2f2504;
            cursor: pointer;
            box-shadow: 2px 2px 5px #2f2504;  
            text-shadow: none;                   
        }
    }

    .resetall {
        margin: 20px 0 0;
        width: 200px;
        height: 50px;
        border-radius: 8px;
        border: 2px solid black;
        font-weight: 700;


        &:hover {
            background-color: whitesmoke;
            color: #2f2504;
            cursor: pointer;
            box-shadow: 2px 2px 5px #2f2504;  
            text-shadow: none;                   
        }
    }
}

li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: #d0ddd7;
    border-radius: 12px;
    padding: 1rem;
    width: 350px;
    height: 85px;
    margin: 10px 0 0 -40px;
    font-size: 1rem;
    box-shadow: 5px 5px 5px black;

    .checkbox {
        cursor: pointer;
        background-color: whitesmoke;
        padding: 10px;
        width: 25px;
        height: 25px;
    }

    .checkbox.toggled {
        cursor: pointer;
        accent-color: black; 
        padding: 10px;
        width: 25px;
        height: 25px;

        &:checked {
            accent-color: black; 
        }
    }

    .text {
        display: flex;
        position: relative;
        top: -31px;
        margin-left: 50px;
        line-height: 1px; 
    }

    .passed-deadline {
        color: red;
    }

    .deadline-in-5 {
        color: blue;
    }
    
    .texttodo {
        font-size: 1.1rem;
        font-weight: 700;
    }
    
    .rightsection {
        display: flex;
        text-align: right;
        margin-left: 5px;    
    
        .category {
            font-size: 2rem;
            background-color: transparent;
            border: none;
            color:  #6c6b67;
            padding: 10px;
            margin: 0 5px 10px 0;
        
            &:hover {
                background-color: transparent;
                cursor:default;
                box-shadow: none;
                color: #6c6b67;  
            }
        }

        button {
            margin: 0;
            padding: 0;
            color: #2f2504;
        }
    }
}

.material-symbols-outlined {
    font-size: 1.6rem;
    background-color: whitesmoke;
    border: 2px solid #2f2504;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 50px;
    height: 50px;

    &:hover {
        background-color: #7e846b;
        color: whitesmoke;
        cursor: pointer;
        box-shadow: 2px 2px 5px #2f2504;                     
    }
}

.todocontainer {
    display: flex;
    justify-content: center;
}

.todochecked {
    text-decoration: line-through;
    color: grey;
}