body {
    background-color: grey;
    padding: 2rem;
}

h1 {
    color: whitesmoke;
    text-align: center;
    font-size: 3.5rem;
    text-shadow: 5px 5px 5px black;
}

input {
    width: 100%;
    border-radius: 8px;
    padding: 8px 12px;
    margin-bottom: 1rem;
}

li {
    list-style: none;
    background-color: #d0ddd7;
    border-radius: 12px;
    padding: 2rem;
    width: 500px;
    margin: 10px 0 0 -40px;
    font-size: 1.2rem;
    box-shadow: 5px 5px 5px black;
}

.todocontainer {
    display: flex;
    justify-content: center;
}
 
.app {
    background-color: #d0ddd7;
    border-radius: 12px;
    padding: 2rem;
    width: 500px;
    margin: 0 auto;
    font-size: 1.2rem;
    box-shadow: 5px 5px 5px black;

    .date {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    .deadline {
        width: 200px;
    }

    .wrapper {
        display:flex;

        .select {
            margin-left: 1rem;
        }

        .categories {
            display: inline-block;
            font-size: 2rem;
        }
    }
}

.addtaskbtn {
    width: 200px;
    border-radius: 8px;
    padding: 8px 12px;

    &:hover {
        background-color: #7e846b;
        color: whitesmoke;
        cursor: pointer;
        box-shadow: 2px 2px 5px #2f2504;                     
    }
}

.material-symbols-outlined {
    background-color: whitesmoke;
    padding: 10px;
    border: 2px solid #2f2504;
    border-radius: 8px;

    &:hover {
        background-color: #7e846b;
        color: whitesmoke;
        cursor: pointer;
        box-shadow: 2px 2px 5px #2f2504;                     
    }
}
 

