body {
    background-color: grey;
    padding: 1rem;
}

input {
    width: 100%;
    border-radius: 8px;
    padding: 8px 12px;
    margin-bottom: 1rem;
    border: 2px solid black;
}

button {
    margin: 0;
    padding: 0;
}

h1 {
    color: whitesmoke;
    text-align: center;
    font-size: 2rem;
    text-shadow: 5px 5px 5px black;
    margin-bottom: 1rem;
}

li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: #d0ddd7;
    border-radius: 12px;
    padding: 1rem;
    width: 350px;
    height: 85px;
    margin: 10px 0 0 -40px;
    font-size: 1rem;
    box-shadow: 5px 5px 5px black;

    .category {
        font-size: 1.6rem;
        background-color: transparent;
        border: 2px solid #6c6b67;
        color:  #6c6b67;
        padding: 10px;
        margin: 0 5px 10px 0;
    
        &:hover {
            background-color: transparent;
            cursor:default;
            box-shadow: none;  
        }
    }

    .rightsection {
        display: flex;
        text-align: right;
        margin-left: 5px;    
    }
}

.todocontainer {
    display: flex;
    justify-content: center;
}
 
.app {
    background-color: #d0ddd7;
    border-radius: 12px;
    padding: 1rem 1rem 2rem;
    width: 350px;
    margin: 0 auto;
    font-size: 1rem;
    box-shadow: 5px 5px 5px black;

    .taskerror {
        font-size: 1rem;
        color: darkred;
        position: relative;
        top: -10px;
        left: 5px;
    }

    .date {
        font-size: 1.45rem;
        font-weight: 700;
        margin-bottom: 1rem;
        margin-top: -8px;
    }

    #datetext {
        font-size: 0.8rem;
    }

    .deadline {
        width: 200px;
        height: 50px;
        margin-bottom: 10px;
        margin-top: 25px;
    }

    .wrapper {
        display:flex;
        margin-bottom: 10px;
    }
}

.select {
    text-align: left;
    margin-left: 10px;

    label {
        height: 60px;
        // /* stylelint-disable-next-line property-no-vendor-prefix */
        // -webkit-user-select: none;
        // /* stylelint-disable-next-line property-no-vendor-prefix */
        // -moz-user-select: none;
        // /* stylelint-disable-next-line property-no-vendor-prefix */
        // -ms-user-select: none;
        // user-select: none;
    }

    span.material-symbols-outlined {
        position: relative;
        top: -10px;
        left: 7px;
        padding-left: 7px;
        padding-top: 7px;
        font-size: 2rem;
    }

    .section1, .section2 {
    display: flex;
    margin-bottom: 15px;
    }  
}

.checkbox {
    background-color: whitesmoke;
    padding: 10px;
    width: 25px;
    height: 25px;
}

.submit {
    width: 200px;
    height: 50px;
    border-radius: 8px;
    padding: 8px 12px;
    background-color: #7e846b;
    color: whitesmoke;
    border: 2px solid black;
    position: absolute;
    margin-top: -60px;

    &:hover {
        background-color: whitesmoke;
        color: #2f2504;
        cursor: pointer;
        box-shadow: 2px 2px 5px #2f2504;                     
    }
}

.material-symbols-outlined {
    font-size: 1.6rem;
    background-color: whitesmoke;
    border: 2px solid #2f2504;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 50px;
    height: 50px;

    &:hover {
        background-color: #7e846b;
        color: whitesmoke;
        cursor: pointer;
        box-shadow: 2px 2px 5px #2f2504;                     
    }
}

.check {
    background-color:#2f2504;
    color:#fff
}

.sortsection {
    display: none;
}

.sortsection.open {
    display:block;

    span {
        background-color: transparent;
        border: none;

        &:hover {
            cursor: pointer;
            color: black;
            box-shadow: none;
            text-shadow: 2px 2px 1px #fff;
        }
    }
}

.text {
    display: flex;
    position: relative;
    top: -31px;
    margin-left: 50px;
    line-height: 1px; 
}

#texttodo {
    font-size: 1.1rem;
    font-weight: 700;
}

.checked { 
    text-decoration: line-through;
    color: grey;
  }

