@use "utils/a11y"; // Om det inte funkar, byt @use mot @import
@use "vendor/reset";

@use "base";

@media screen and (min-width: 768px) {
  @import "tablet";
};

@media screen and (min-width: 1366px) {
  @import "desktop";
};

$primaryColorDark: #2f2504;
$secondaryColorDark: #594e36;
$primaryColorLight: #d0ddd7;
$secondaryColorLight: #a5ae9e;
$primaryAccentColor: #716C84;
$baseColor: #7e846b;


:root {
  font-family: Philosopher, sans-serif;
  color: $primaryColorDark;
  font-size: rem(16px);
  background-color: whitesmoke;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

// :root {
//   // TODO: G책r bra att radera kod 채ven h채r!
//   font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
//   font-size: rem(16px);
//   line-height: 24px;
//   font-weight: 400;
//   color-scheme: light dark;
//   color: rgb(255 255 255 / 87%);
//   background-color: #242424;
//   font-synthesis: none;
//   text-rendering: optimizelegibility;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   text-size-adjust: 100%;
// }

// // TODO: Radera mig! Jag 채r bara ett exempel.
// main {
//   padding: 20px;
// }

// .app {
//   margin-block: 20px;
//   display: flex;
//   gap: 20px;
//   justify-content: space-around;

//   .card {
//     $card-size: 250px;

//     width: 0.6413 * $card-size;
//     height: $card-size;
//     cursor: pointer;
//     background: #102a3f;
//     border-radius: 8px;
//     display: flex;
//     font-weight: bold;
//     align-items: center;
//     justify-content: space-around;
//     text-align: center;
//     box-shadow: 5px 5px 5px rgb(0 0 0 / 20%);

//     .front {
//       font-size: rem(50px);
//     }

//     .back {
//       display: none;
//     }

//     &.visible {
//       .front {
//         display: none;
//       }

//       .back {
//         display: block;
//       }
//     }
//   }
// }
