@use "utils/a11y";
@use "vendor/reset";

@use "darkmode";

@use "base";

@media screen and (min-width: 768px) {
  @import "tablet";
};

@media screen and (min-width: 1366px) {
  @import "desktop";
};

$primaryColorDark: #2f2504;
$secondaryColorDark: #594e36;
$primaryColorLight: #d0ddd7;
$secondaryColorLight: #a5ae9e;
$primaryAccentColor: #716C84;
$baseColor: #7e846b;


:root {
  font-family: 'Chivo Mono', monospace, serif;
  color: $primaryColorDark;
  font-size: rem(16px);
  box-sizing: border-box;
  scroll-behavior: smooth;
}
